.Experiment{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -5px;
    animation: ease-in-out;
    transition: 0.5s;
    flex-direction: column;
    height: 10vh;
    width: 40vw;
    min-width: 250px;
    position: relative;
    font-size: 1.7vh;
    background: white;
    margin-bottom: 25px;
    margin-left: 25px;
}

.Experimenten {
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0vw;
    top: 15vh;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: center;
}

.AllFilters {
    background: white;
    position: absolute;
    z-index: 10;
}

.Input {
    height: 3vh;
    width: 20vw;
    margin-bottom: 1vh;
}

.Vragen {
    height: 3vh;
    margin-bottom: 1vh;
}

.AllInputs {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10vh;
    left: 60vw;
}

.AllVragen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: scroll;
    z-index: 0;
    top: 30vh;
}

.Nakijken {
    width: 10vw;
    aspect-ratio: 16/5;
    border: 2px solid black;
}

.Sluiten {
    width: 10vw;
    aspect-ratio: 16/5;
    border: 2px solid black;
    position: relative;
    top: 40vh;
    left: 44.6vw;
}

::-webkit-scrollbar {
    width: 0.8vw;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}