.Home {
    background-image: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
    height: 100vh;
    width: 100vw;
    display: flex;
    left: 0vw;
    top: 0vh;
    flex-direction: row;
    position: absolute;
    z-index: -10;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Text {
    border: 2px solid black;
    border-radius: 50%;
    width: 35vw;
    min-width: 300px;
    aspect-ratio: 1/1;
    background: white;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-bottom: 40px;
    overflow: hidden;
    top: 0vh;
}

.Uitleg {
    position: relative;
    top: -3vh;
    width: 20vw;
    min-width: 200px;
    font-size:calc(10px + 0.2vw);
}

.Bubble1 {
    width: 80vw;
    aspect-ratio: 1/1;
    border: 2px solid black;
    border-radius: 50%;
    background: white;
    position: relative;
    top: 440px;
    left: 370px;
}

.Bubble2 {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 50%;
    background: white;
    position: relative;
    top: 540px;
    left: 400px;
}

.Test{
    border: 5px solid black;
    border-radius: 50%;
    background: white;
    height: 100px;
    width: 100px;
    position: relative;
    top: 100px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Appexp{
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    justify-content: center;
}

.Center {
    display: flex;
    justify-content: center;
}

.SettingsButton {
    aspect-ratio: 9 / 9;
    height: 8vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 88vh;
    border: 2px solid white;
}

.SettingsImg {
    aspect-ratio: 9 / 9;
    height: 8vh;
}

.SettingsBar {
    height: 100vh;
    width: 130px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    left: 0vw;
}

.OverCss {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -1298px;
    left: 1100px;
}

.OVerButton {
    border: 5px solid black;
    border-radius: 20px;
    height: 50px;
    width: 100px;
    justify-content: space-around;
    align-items: center;
    background: none;
    position: relative;
    left: 0px;
    top: -5px;
    font-family: fantasy;
    font-size: 30px;
  }

.Close {
    height: 50px;
    width: 100px;
    position: relative;
    top: 6vh;
    left: 8.5vw;
    background: white;
    border: 2px solid black;
}

.CloseExp {
    height: 50px;
    width: 100px;
    position: relative;
    top: 30vh;
    left: 10vw;
    background: white;
    border: 2px solid black;
    transform: rotate(90deg);
}

.Proefcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Titel {
    position: absolute;
    top: 2vh;
    font-size: calc(15px + 0.5vw);
}

.TextContainer {
    position: relative;
    top: 30px;
    left: 40px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Dark {
    background-image: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
    height: 6vh;
    width: 3.5vw;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    position: relative;
    left: -2vw;
    top: 2vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
}

.Light {
    background: rgb(172, 172, 172);
    height: 6vh;
    width: 3.5vw;
    border-radius: 50%;
    border: 2px solid black;
    color: black;
    position: relative;
    left: 1.5vw;
    top: -4vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vh;
}

.Mariusisdik {
    background: linear-gradient(red, yellow);
    height: 9vh;
    aspect-ratio: 9 / 9;
    position: absolute;
    top: 10vh;
    border: 2px solid white;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.Water {
    background: linear-gradient(rgb(0, 0, 255), rgb(171, 197, 255));
    height: 9vh;
    aspect-ratio: 9 / 9;
    position: absolute;
    top: 30vh;
    border: 2px solid white;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.Proefjes {
    position: relative;
    top: 2vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vh;
}

.Lijst {
    position: relative;
    top: 0vh;
}

.Benodigheden {
    height: 3vh;
}

.BenodighedenBox {
    left: 0vw;
    position: relative;
    color: white;
    width: 40vw;
}

.LijstLijst {
    overflow-x: hidden;
    height: 75vh;
    width: 100vw;
    overflow-y: scroll;
    position: absolute;
    top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.StappenBox{
    position: relative;
    left: 0vw;
    width: 40vw;
    color: white;
}

.Stappen {
    height: 3vh;
    position: relative;
    left: 6vw;
    color: white;
}

.Ondertitel {
    position: relative;
    top: 8vh;
    left: 1.5vw;
    color: white;
    font-size: calc(12px + 0.5vw);
}

.ProefBack{
    background-image: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
    height: 100vh;
}

.VragenBox{
    color: white;
    position: relative;
    left: 0vw;
    width: 40vw;
}

.KleurVerandering {
    background: linear-gradient(to right, rgb(0, 255, 42), rgb(0, 81, 255), rgb(255, 0, 8));
    height: 9vh;
    aspect-ratio: 9 / 9;
    position: absolute;
    top: 50vh;
    border: 2px solid white;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.Clear {
    background: linear-gradient(to right, rgb(161, 255, 206), rgb(250, 255, 209));
    height: 9vh;
    aspect-ratio: 9 / 9;
    position: absolute;
    top: 70vh;
    border: 2px solid white;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;;
}

.Switch {
    border: 2px solid white;
    height: 10vh;
    width: 10vw;
}

.Uitschuif {
    background: none;
    width: 100vw;
    height: 12vh;
    left: 1vw;
    top: 0vh;
    position: absolute;
    z-index: 8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Marius {
    background: linear-gradient(red, yellow);
    min-width: 70px;
    min-height: 70px;
    width: 5.5vw;
    aspect-ratio: 9 / 9;
    position: relative;
    border: 2px solid white;
    border-radius: 10px;
    margin-right: 2vw;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .Wat {
    background: linear-gradient(rgb(0, 0, 255), rgb(171, 197, 255));
    min-width: 70px;
    min-height: 70px;
    width: 5.5vw;
    aspect-ratio: 9 / 9;
    position: relative;
    border: 2px solid white;
    border-radius: 10px;
    margin-right: 2vw;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .Kleur {
    background: linear-gradient(to right, rgb(0, 255, 13), rgb(0, 68, 255), rgb(203, 20, 2), rgb(255, 239, 10));
    width: 5.5vw;
    min-width: 70px;
    min-height: 70px;
    aspect-ratio: 9 / 9;
    position: relative;
    border: 2px solid white;
    border-radius: 10px;
    margin-right: 2vw;
    font-family: 'Times New Roman', Times, serif;
    color: white;
  }
  
  .Clea {
    background: linear-gradient(to right, rgb(161, 255, 206), rgb(250, 255, 209));
    width: 5.5vw;
    min-width: 70px;
    min-height: 70px;
    aspect-ratio: 9 / 9;
    position: relative;
    border: 2px solid white;
    border-radius: 10px;
    margin-right: 2vw;
    font-family: 'Times New Roman', Times, serif;;
  }